

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/weather.css' %}">
<div class="weather">
    <h1>{{ city }}</h1>
    <h2>Temp: {{ temp }}°C</h2>
    <h2>Wind: {{ wind_speed }}m/s</h2>
    <h2>Pressure: {{ pressure }}hpa</h2>
    <h2>Humidity: {{ humidity }}%</h2>
    <h2>{{ type_weather }}</h2>
    <img class="logo" src="http://openweathermap.org/img/w/{{ icon_id}}.png">

</div>
