header {
	background: #b18abf;
	color: #ffffff;
	display: flex !important;
	border-bottom: #8c19a7 solid 5px;
	justify-content: space-around;
	align-items: center;
}
div.logo {
	font-family: 'Yellowtail', cursive;
	font-size: 3em;
}
img.logo {
	height: 7em;
}