{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		 <!-- Bootstrap-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

        <!-- Custom styles -->
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
	</head>
	<body>
		{% include "components/header.html" %}
			{% block content %}
			{% endblock %}
		{% include "components/footer.html" %}


        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
	</body>


</html>