<header>
	<img class="logo" src="/static/images/weather{{ rand|add:'123'|make_list|random }}.png">
	<div class="logo"><b>Wheather</b>Art!</div>
    <div class="search">
        <form id="form_searching" class="form-inline">
            <input type="text" class="form-control" id="city">
            <button type="submit" class="btn btn-success">
                search
            </button>
        </form>
    </div>

</header>